<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="static/js/application.js?v=0"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    </head>
    <body>
        <h3>
            <div id="content">Send to GAU3DAERZWH4DC4XTUQ5IXYHJHZ67LQ5OCXU5GJJOADIPSJMGELBJAFW to update text below<br><br></div>
            <div id="label"></div>
        </h3>


            <div id=countdown-wrap>
              <div id="goal">100,000 XLM</div>
              <div id="glass">
                <div id="progress">
                </div>
              </div>
              <div class="goal-stat">
                <span class="goal-number"><div id="funded"></div></span>
                <span class="goal-label">Funded</span>
              </div>
              <div class="goal-stat">
                <span class="goal-number"><div id="raised"></div></span>
                <span class="goal-label">Raised</span>
              </div>
              <div class="goal-stat">
                <span class="goal-number"><div id="last_tx"></div></span>
                <span class="goal-label">Last Tx</span>
              </div>
              <div class="goal-stat">
                <span class="goal-number"><div id="memo"></div></span>
                <span class="goal-label">Memo</span>
              </div>
            </div>


    </body>
</html>
