<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="static/js/application.js?v=5"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    </head>
    <body>
        <h3>

        </h3>


        <div id=countdown-wrap>
            <div id="goal"><div id="target"></div></div>
            <div id="glass">
            <div id="progress"></div></div>
            <div class="goal-stat">
                <span class="goal-number"><div id="funded"></div></span>
                <span class="goal-label">Funded</span>
            </div>
            <div class="goal-stat">
                <span class="goal-number"><div id="raised"></div></span>
                <span class="goal-label">Raised</span>
            </div>
            <div class="goal-stat">
                <span class="goal-number"><div id="last_tx"></div></span>
                <span class="goal-label">Last Donation</span>
            </div>
            <div class="goal-stat">
                <span class="goal-number"><div id="memo"></div></span>
                <span class="goal-label">Memo</span>
            </div>
            <div class="goal-stat">
                <span class="address"><div id="publickey"></div></span>
                <span class="address-label"><div>Donation Address</div></span>
            </div>

        </div>

    </body>
</html>
